[submodule "RIOT"]
	path = RIOT
	url = https://github.com/AnimaGUS-minerva/RIOT
[submodule "examples/xbd-py/micropython"]
	path = examples/xbd-py/micropython
	url = https://github.com/AnimaGUS-minerva/micropython
[submodule "toolchain/xtensa/rust-build"]
	path = toolchain/xtensa/rust-build
	url = https://github.com/AnimaGUS-minerva/rust-build
[submodule "examples/xbd-py/python-rfc8366-voucher"]
	path = examples/xbd-py/python-rfc8366-voucher
	url = https://github.com/AnimaGUS-minerva/python-rfc8366-voucher
[submodule "toolchain/xtensa/esptool"]
	path = toolchain/xtensa/esptool
	url = https://github.com/espressif/esptool
[submodule "examples/xbd-net/libcoap"]
	path = examples/xbd-net/libcoap
	url = https://github.com/AnimaGUS-minerva/libcoap
