[submodule "RIOT"]
	path = RIOT
	url = https://github.com/AnimaGUS-minerva/RIOT
[submodule "toolchain/xtensa/esp-idf"]
	path = toolchain/xtensa/esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "examples/xbd-py/micropython"]
	path = examples/xbd-py/micropython
	url = https://github.com/AnimaGUS-minerva/micropython
[submodule "toolchain/xtensa/rust-build"]
	path = toolchain/xtensa/rust-build
	url = https://github.com/AnimaGUS-minerva/rust-build
[submodule "examples/xbd-py/voucher"]
	path = examples/xbd-py/voucher
	url = https://github.com/AnimaGUS-minerva/voucher
